<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/private/post/new}" th:object="${post}">
    <input type="text" th:field="*{title}"> <br />
    <p th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}" />
    <input type="text" th:field="*{content}"> <br />
    <p th:if="${#fields.hasErrors('content')}" th:errorclass="error" th:errors="*{content}" />
    <button type="submit">Add</button>
</form>
</body>
</html>